.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
  background-color: #ff9600 !important; }

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: #fb483a !important; }

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:focus {
  background-color: #00b0e4 !important; }

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background-color: #2b982b !important; }

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #1f91f3 !important; }

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background-color: #fff !important; }

/* Waves ======================================= */
.waves-effect.waves-red .waves-ripple {
  background: rgba(244, 67, 54, 0.5); }

.waves-effect.waves-pink .waves-ripple {
  background: rgba(233, 30, 99, 0.5); }

.waves-effect.waves-purple .waves-ripple {
  background: rgba(156, 39, 176, 0.5); }

.waves-effect.waves-deep-purple .waves-ripple {
  background: rgba(103, 58, 183, 0.5); }

.waves-effect.waves-indigo .waves-ripple {
  background: rgba(63, 81, 181, 0.5); }

.waves-effect.waves-blue .waves-ripple {
  background: rgba(33, 150, 243, 0.5); }

.waves-effect.waves-light-blue .waves-ripple {
  background: rgba(3, 169, 244, 0.5); }

.waves-effect.waves-cyan .waves-ripple {
  background: rgba(0, 188, 212, 0.5); }

.waves-effect.waves-teal .waves-ripple {
  background: rgba(0, 150, 136, 0.5); }

.waves-effect.waves-green .waves-ripple {
  background: rgba(76, 175, 80, 0.5); }

.waves-effect.waves-light-green .waves-ripple {
  background: rgba(139, 195, 74, 0.5); }

.waves-effect.waves-lime .waves-ripple {
  background: rgba(205, 220, 57, 0.5); }

.waves-effect.waves-yellow .waves-ripple {
  background: rgba(255, 232, 33, 0.5); }

.waves-effect.waves-amber .waves-ripple {
  background: rgba(255, 193, 7, 0.5); }

.waves-effect.waves-orange .waves-ripple {
  background: rgba(255, 152, 0, 0.5); }

.waves-effect.waves-deep-orange .waves-ripple {
  background: rgba(255, 87, 34, 0.5); }

.waves-effect.waves-brown .waves-ripple {
  background: rgba(121, 85, 72, 0.5); }

.waves-effect.waves-grey .waves-ripple {
  background: rgba(158, 158, 158, 0.5); }

.waves-effect.waves-blue-grey .waves-ripple {
  background: rgba(96, 125, 139, 0.5); }

.waves-effect.waves-black .waves-ripple {
  background: rgba(0, 0, 0, 0.5); }

.waves-effect.waves-white .waves-ripple {
  background: rgba(255, 255, 255, 0.5); }