//Card Material design
.card {
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 1px;
    
    .header{
        color: #555;
        padding: 5px 10px;
        position: relative;
        border-bottom: 1px solid rgba(204, 204, 204, 0.35);

        .header-dropdown {
            position: absolute;
            top: 20px;
            right: 15px;
            list-style: none;
            margin-top: -5px;

            .dropdown-menu{
                li{
                    display: block !important;
                }
            }
            li {
                display: inline-block; 
            }
            i {
                font-size: 20px;
                color: #999;
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition: all 0.5s; 
            }
            i:hover {
                color: #000; 
            } 
        }
        h2 {
            margin: 0;
            font-size: 14px;
            font-weight: 500;
            color: #111;
            padding: 10px;
            small {
                display: block;
                font-size: 12px;
                margin-top: 5px;
                color: #999;
                line-height: 15px;
                a {
                    font-weight: bold;
                    color: #777; 
                } 
            } 
        }
    }
    .body {
        font-size: 12px;
        color: #555;
        padding: 10px 10px; 
    }
    button{
        margin-top: 20px;
    }
    .title{
        font-size: 16px;
        color: #2980B9;
        font-weight: 500;
    }

    .card-inside-title {
        margin-top: 25px;
        margin-bottom: 15px;
        display: block;
        font-size: 15px;
        color: #000;

        small {
            color: #999;
            display: block;
            font-size: 11px;
            margin-top: 5px;

            a {
                color: #777;
                font-weight: bold; 
            } 
        } 
    }
}


