// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* ############### FONTS IMPORT ############### */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

// Body
$body-bg: #f8fafc;

// Typography
$app_font: 'Nunito',
sans-serif;
//$pp_font:-apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.6rem;
$line-height-base: 1.4;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$wp_color: #0073aa;
$select2_background:#7987a1;
$select2_tag_background:#7987a1;


$admin_content_body:#F0F3F9; //#EFF1F4 

$sidebar_theme_color:#192F49;
$sidebar_list_item:#8695a7;
$sidebar_list_item_active:#fff;


@import './theme';
@import './custom';
@import './snippets/wpinput';
@import './material/button';
@import './snippets/nestable';
