body {
    margin: 0;
    font-family: $app_font;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #22282F;
    text-align: left;
    background-color: #fff;
    overflow: hidden;

    ul {
        li {
            list-style: none;
        }
    }

}

.wp {
    color: $wp_color !important;
    font-style: italic;
    transition-property: border, background, color;
    transition-duration: .05s;
    transition-timing-function: ease-in-out;
}

//Tags input
.tag {
    margin-right: 2px;
    color: white;
    margin: 1px;
}

.bootstrap-tagsinput .tag {
    background-color: #00AEEF !important;
}

//Side nav fa icons
.nav-aside {

    .fa {
        font-size: 16px;
        margin-right: 15px;
    }

}

//Need to delete
.mp-0 {
    margin: 0 !important;
    padding: 0 !important;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    background-color: none !important;
    background-color: transparent !important;
}

.nav-aside .with-sub.show ul {
    padding-bottom: 0 !important;
}

//Content header fa icons
.content-header {
    .fa {
        font-size: 20px;
    }

    .dropdown-profile {
        .fa {
            font-size: 16px;
            margin-right: 10px;
            color: #2D353E;
        }
    }
}

.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    padding: 10px;
}

.list-group {
    list-style: none;

    li.header {
        font-weight: 600;
        padding: 15px 7px 7px 7px;
    }

    li {

        padding: 7px;
        color: #2D353E;

        a {

            border: none !important;
        }
    }

    li:hover {
        background-color: #F0F3F9;

        a {
            font-weight: bold;
        }
    }
}

//Post title label
.title-label {
    font-weight: 600 !important;
    color: $wp_color !important;
}

//table action links
.action-link {
    margin-right: 10px;
    color: #009CE6;
    font-size: 12px;
    font-weight: 600;
}

.datatable-action-button {
    //padding: 2px 5px !important;
    //border-radius: 6px !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent;
    border: none;
    margin-right: 5px !important;
}

.datatable-action-button:active {
    background-color: transparent !important;
    border: none;
}

.datatable-action-button:hover {
    background-color: transparent !important;
}

//Toast message
#toasty {
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    z-index: 1;
    right: 20px;
    top: 30px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);

    // padding:0 20px;
    #desc {
        //color: #fff;
        text-align: left;
        padding: 15px;
        overflow: hidden;
        white-space: nowrap;

        i {
            margin-right: 10px;
        }

        ul {
            list-style: none;
            display: block;
        }
    }
}

#toasty.success {
    border-left: 5px solid #2BDE3F;

    #desc {
        i {
            color: #2BDE3F;
        }
    }
}

#toasty.info {
    border-left: 5px solid #1D72F3;

    #desc {
        i {
            color: #1D72F3;
        }
    }
}

#toasty.warning {
    border-left: 5px solid #FFC007;

    #desc {
        i {
            color: #FFC007;
        }
    }
}

#toasty.danger {
    border-left: 5px solid #2BDE3F;

    #desc {
        i {
            color: #2BDE3F;
        }

        ;
    }
}

//Action button button default
.btn-default {
    background-color: none !important;
}

.btn-default.edit {
    margin: 0 !important;
    //padding: 0 !important;
}

.dt-action-btn {
    margin: 0 !important;
    padding: 2px !important;
    //-border: 1px solid grey;
    color: $wp_color !important;
    font-weight: 600;

}

//badge col
.badge {
    a {
        color: #fff !important;
    }
}

//Datatable margin afte search label
.dataTables_filter {
    label {
        margin-right: 5px;
    }
}

.avatar-preview {
    height: 200px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

//App Log Styling
.log-side-bar {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 0 !important;

        a {
            margin: 0 !important;
            color: #708090;
            padding: 5px !important;
        }

        a:hover {
            color: #0B3861;
            font-weight: 600;
        }
    }

    li.active {
        a {
            color: #0B3861;
            font-weight: 600;
        }
    }
}

.lbl-heading {
    a {
        color: #0B3861;
        margin-right: 10px;
    }
}

//App icon and fevicon preview
.icon-preview {
    height: 80px;
    width: 80px;
    margin-left: -250px;
    margin-top: 40px;
}


//Category page category recrussive display list
.cat-list-display {
    li {
        list-style: none;
    }
}

//Swal action buttion
.swal2-actions {
    .btn-danger {
        color: #fff;
        background-color: #6e141d;
        border-color: #6e141d;
        margin-right: 10px;
    }
}

//Admin menu builder menu items draggable
.dd-list {

    .dd-handle {
        display: block;
        //height: 50px;
        margin: 5px 0;
        padding: 10px 10px;
        color: #333;
        text-decoration: none;
        font-weight: 700;
        border: 1px solid #ccc;
        background: #fafafa;
        border-radius: 3px;
        box-sizing: border-box;
    }
}

//List group setting
.list-group {
    li {
        cursor: pointer;
        border: 1px solid #F3F4F7 !important;

        a {
            display: block;
            text-decoration: none !important;
            color: #000000 !important;
        }
    }

    li:hover {
        a {
            color: $wp_color !important;
        }
    }

    li.active {
        background-color: #F0F3F9;
        border: none;
        font-weight: bold;

        a {
            color: $wp_color !important;
        }
    }

}

.content-header .left-menu {
    .fa {
        font-size: 16px;
    }
}


//Datatable pagination buttonm
.paginate_button {
    cursor: pointer;
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus,
textarea:focus {
    //border-color: #184f83 !important;
    //box-shadow: 0 0 2px rgba(30, 140, 190, 0.8);
    /* Only visible in Windows High Contrast mode */
    border-color: $wp_color !important;
    box-shadow: none !important;
    outline: 1px solid transparent;
}

//Action button transparent
.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    background-color: transparent !important;
}
